@import './aside-head';

.app-aside {
  display: flex;
  flex-direction: column;

  &.disabled {
    pointer-events: none;
  }

  .filler {
    flex-grow: 1;
  }
}

.save-button {
  height: 60px;
  background-color: $color-positive;
  border: none;
  font-weight: 500;
  font-size: 11px;
  letter-spacing: -0.36px;
  color: white;
  text-transform: uppercase;
  margin-top: 64px;

  &:disabled {
    background-color: $color-icon;
  }

  svg {
    width: 32px;
    height: 32px;

    circle {
      stroke: white;
    }
  }
}
