.aside-header {
  h2 {
    font-weight: 500;
    font-size: 21px;
    line-height: 24px;
    letter-spacing: -0.9px;
    padding: 12px 20px 14px;
    margin: 0;
    border-bottom: solid 1px $color-table;
  }

  .sub {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 10px;
    border-bottom: solid 1px $color-table;

    .thick-title {
      font-weight: 500;
      font-size: 9px;
      line-height: 12px;
      letter-spacing: -0.45px;
      opacity: 0.7;
      text-transform: uppercase;
    }

    .field {
      display: flex;
      align-items: center;

      svg {
        width: 40px;
        height: 40px;
      }

      .number {
        font-weight: 500;
        font-size: 15px;
        line-height: 19px;
        letter-spacing: -0.7px;
      }
    }

    .culture {
      display: flex;
      align-items: center;

      .name {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }

      .first-name {
        font-size: 15px;
        line-height: 21px;
        letter-spacing: -1.1px;
      }

      svg {
        width: 30px;
        height: 30px;
        margin: 0 8px 0 10px;

        path {
          fill: $color-text;
        }
      }
    }
  }
}
