@import './aside-head';

.app-aside {
  display: flex;
  flex-direction: column;

  &.disabled {
    pointer-events: none;
  }

  .filler {
    flex-grow: 1;
  }

  .main-data {
    height: 140px;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .second-row {
      display: flex;
      justify-content: space-between;
      height: 48px;

      .second-row-item {
        width: 138px;
      }
    }
  }

  textarea {
    height: 126px;
    border: none;
    border-top: solid 1px $color-table;
    border-bottom: solid 1px $color-table;
    resize: none;
    outline: none;
    box-sizing: border-box;
    padding: 15px 20px;
  }

  h3 {
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: -0.33px;
    text-transform: uppercase;
    margin: 11px 20px 15px;
  }

  .assessment-picker-wrapper {
    display: flex;
    justify-content: center;
  }
}

.save-button {
  height: 60px;
  background-color: $color-positive;
  border: none;
  font-weight: 500;
  font-size: 11px;
  letter-spacing: -0.36px;
  color: white;
  text-transform: uppercase;
  margin-top: 64px;

  &:disabled {
    background-color: $color-icon;
  }

  svg {
    width: 32px;
    height: 32px;

    circle {
      stroke: white;
    }
  }
}
