$color-head: #091C28;
$color-bg: #F9F9F9;
$color-text: #333333;
$color-table: #EDEEEE;
$color-icon: #A7A9AC;
$color-icon-active: #3399FF;
$color-positive: #66CC66;
$color-neutral: #FFE06D;
$color-negative: #FF7360;
