$color-head: #091c28;
$color-bg: #f9f9f9;
$color-text: #333333;
$color-table: #edeeee;
$color-icon: #a7a9ac;
$color-icon-active: #3399ff;
$color-positive: #66cc66;
$color-neutral: #ffe06d;
$color-negative: #ff7360;
$color-placeholder: #c7c7cd;
$color-divider: #eff0f0;
