@font-face {
  font-family: 'Ubuntu';

  src: url(~@theme/fonts/ubuntu-regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Ubuntu';
  font-weight: 500;

  src: url(~@theme/fonts/ubuntu-500.woff2) format('woff2');
}
