@import '~@theme/fonts-ubuntu';
@import '~@theme/colors';
@import '~@layout/style/layout';
@import '~@ui/style/ui';
@import '~@table/style/table';

html {
  font-family: 'Ubuntu', sans-serif;
  color: $color-text;
}

body {
  padding: 0;
  margin: 0;
  background-color: $color-bg;
  overflow-y: scroll;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 0;
  font-weight: 500;
  font-size: 25px;
  line-height: 31px;
  letter-spacing: -0.8px;
}

button {
  font-family: inherit;
}
